.servicePage {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  height: 100%;
  width: 100%;
}

#loading-services {
  width: 100vw;
  height:100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 100;
}

#loading-services>img {
  width: 50px;
  height: 50px;
}

.servicesContainer {
  padding: 1rem;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.service {
  padding: 1.5rem;
  width: 7rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid #000;
}

.service>img {
  filter: brightness(50%) sepia(1);
  max-width: 3.5rem;
}

.service>span {
  font-size: 16px;
  font-weight: bold;
  padding-top: 0.5rem;
  color: var(--mainColor);
  text-align: center;
  line-height: 1;
}

.unavailable-text {
  width: 7rem;
  display: block;
  text-align: center;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_nav{
  background-color: #fff;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
}
.user_searchbar{
  position: relative;
}
.user_search_icon{
  position: absolute;
  left: 0px;
}
.user_searchbar input{
  padding-left: 20px;
}
.menucontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.categoryItemMap {
  background: #fff;
  display: flex;
  padding: 1rem 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  flex-direction: column;
}
.container{
  width: 100vw;
  margin-top: 60px;
  overflow-y: scroll;
  height: 90vh;
}
.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: flex-start;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.noimage {
  align-items: flex-end;
}

.menu:last-child {
  border-bottom: 0;
}

.menuleft {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
}

.item-name {
  font-size: 1rem;
  padding: .5rem 0;
  word-break: break-all;
  word-wrap: break-word;
  font-weight: 700;
}

.item-price {
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

.priceWithDiscount {
  text-decoration: line-through;
  color: #c96e4a;
}

.item-desc {
  line-height: 1.3;
  color: rgba(40, 44, 63, .6);
  width: 70%;
  letter-spacing: -.3px;
  font-size: 1rem;
}

.menuleft>h4 {
  color: #7e808c;
  font-size: 10px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  pointer-events: none;
}

.item-image-container {
  width: 8rem;
  height: 8rem;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px #4ac959;
}

.item-image-container>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: fit-content;
}

.stickyNave {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.item-mode>img {
  width: 16px;
  margin-right: 0.5rem;
}

.menuItemDetails {
  display: flex;
  overflow: hidden;
  width: 60%;
  flex-direction: column;
  margin: auto 0;
}

.categoryItemMap:last-child {
  margin-bottom: 0rem;
}

.addToCart {
  border-radius: 0.7rem;
  height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  color: rgb(114, 114, 114);
  font-weight: 800;
  border: 1px solid rgb(221, 221, 221);
  outline: none;
}

.item-btns>* {
  width: 100px;
  height: 40px;
  font-size: 1rem;
  font-weight: 800;
  color: #4ac959;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #4ac959;
  background: rgb(237 249 238);
  box-shadow: 0 2px 8px #4ac959;
  cursor: pointer;
}

.activeAddCartBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.updateToCart {
  border-radius: 0.7rem;
  height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  color: rgb(114, 114, 114);
  font-weight: 800;
  border: 1px solid rgb(221, 221, 221);
  outline: none;
  display: flex;
  justify-content: space-between;
}

.addToCart>i {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 0.7rem;
  color: rgb(179, 179, 179);
}

.fa-minus,
.fa-plus {
  font-weight: 900;
  cursor: pointer;
  font-size: 0.8rem;
}

.categoryHeadline {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.allcategoryList {
  position: fixed;
  right: 0;
  width: 100%;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  z-index: 40;
  overflow: hidden;
  /* bottom: 4rem; */
}

#black-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0000003b;
}

.menulist {
  padding: 0 0.5rem;
  max-width: 1500px;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  margin: auto;
  width: 100%;
}

.categoryList {
  transition: 0.2s all ease-in-out;
  max-height: 0;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 0;
  width: 0;
  overflow: hidden;
  flex-direction: column;
  z-index: 5;
}

.showCategory {
  padding: 1rem;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
  width: 100%;
  max-height: 15rem;
  border: 1px solid rgb(221, 221, 221);
}

.tag {
  border-left: 1px solid #4ac959;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.2rem;
  padding-right: 0.5rem;
  background: #4ac9591a;
  cursor: pointer;
  color: #4ac959;
}

.tagRed {
  border-radius: 0px;
  border-left: 1px solid #c96e4a;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.2rem;
  padding-right: 0.5rem;
  background: #c96e4a1a;
  cursor: pointer;
  color: #c96e4a;
  margin-left: 12px;
}

.categorybtn {
  padding: 1rem;
  font-size: 1.1rem;
  outline: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.categorybtn:last-child {
  border-bottom: 0;
}

.activeMenuList {
  font-weight: 700;
}

.showMenuListBtn {
  background-color: #222;
  border: none;
  color: rgb(240, 240, 240);
  border-radius: 2rem;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  z-index: 5;
}

.menuleft>h3 {
  font-size: 0.7rem;
  color: rgb(82, 82, 82);
}

.customize {
  position: fixed;
  bottom: -9999999px;
  background-color: rgba(0, 0, 0, 0.158);
  z-index: 100;
  height: 100%;
  width: 100%;
  max-width: 1500px;
}

.csMenu {
  max-width: 1500px;
  margin: auto;
  bottom: -9999999px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  transition: all 0.1s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.activeCustomuze {
  bottom: 0;
}

.customizeMenu {
  width: 100%;
  display: flex;
  min-height: 20rem;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem 0 1rem 0;
}

.popupMenu {
  width: 100%;
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #4ac959;
  border-radius: 1rem 1rem 0 0;
  color: white;
}

.closeCustomizable {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10rem;
  margin-bottom: 0.5rem;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
  background-color: #000;
}

.itemDetails {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.itemDetails>img {
  width: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #4ac959;
  text-indent: 5px;
}

.itemDetails>h1 {
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.optionsExtra {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  width: 100%;
  align-items: flex-start;
  padding: 0 10px;
}

.optionsExtra>h2 {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 500;
}

h6 {
  margin: 3px 0;
}

.optionsExtra>h6 {
  font-size: 0.8rem;
  color: #555;
  font-weight: 500;
}

.customOptions {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.csoption {
  display: flex;
  align-items: center;
  padding: 0.1rem 0;
  width: 100%;
  justify-content: space-between;
}

.csoption>h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

.prAndSel {
  display: flex;
  align-items: center;
}

.prAndSel>h4 {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.prAndSel>input {
  outline: none;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.csButtons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.popupdiv {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.menuCus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.quantitybtn {
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
  border-radius: 5px;
  gap: 8px;
  font-weight: 900;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  background: #4ac9591e;
}

.additem {
  border: none;
  background: var(--mainColor);
  color: #fff;
  flex: 1;
  font-size: 1rem;
  height: 35px;
  margin-left: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.continueBtn {
  border: none;
  background: var(--mainColor);
  color: #fff;
  width: 25%;
  font-size: 1rem;
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomDiv {
  /* position: fixed; */
  /* bottom:0px; */
  background-color: white;
  height: 70px;
  /* z-index: 20; */
}

@media screen and (max-width: 600px) {
  * {
    cursor: default !important;
  }

  .menu {
    max-width: 600px;
  }

  .item-desc {
    max-width: 10rem;
  }

  .selection_payment_method{
    font-size: 1rem;
    border: none;
    outline: none;
    font-weight: bolder;
    background: none;
  }
}
.autoBtn{
  padding: 10px 15px;
  background: blue;
  color: #fff;
  position: fixed;
  bottom: 10px;
  /* width: 100px; */
  left: 50vw;
}