#console {
	position: fixed;
	bottom: 0px;
	height: 380px;
	background: black;
	width: 100%;
	color: white;
	font-size: 15px;
	overflow: auto;
	border-bottom: 10px solid grey;
}

#console > * {
	border-bottom: 1px solid grey;
	padding: 5px;
}
.clear_Logout_button,
.simple_Logout_button {
	border: none;
	color: #fff;
	background: #44cd4a;
	min-width: 200px;
	padding: 10px 18px;
	margin: 10px 20px;
	border-radius: 1.5rem;
	cursor: pointer;
	position: relative;
	letter-spacing: 1px;
	font-weight: 500;
	white-space: nowrap;
	box-shadow: 3px 4px 3px black;
	transition: all 0.3s ease-in-out;
}

.clear_Logout_button:hover,
.simple_Logout_button:hover {
	transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
	.message-popup-actions .clear_Logout_button,
	.message-popup-actions .simple_Logout_button {
		font-size: 1rem;
		box-shadow: 0px 5px 12px -7px black;
		width: unset !important;
	}
}

#customer-details-dropdown .simple_Logout_button {
	width: 100%;
}

div#selection-area-switch > button {
	width: 50%;
	padding: 12px 0;
	border: none;
	background: #deffe1;
	position: relative;
}

div#selection-area-switch > button.selected {
	font-weight: 600;
	background: var(--mainColor);
	color: white;
}

#selection-info {
	display: flex;
	flex-direction: column;
	margin-right: calc(-16% - 50px);
	margin-left: 50px;
}

#selection-info div > span:first-child {
	width: 150px;
	display: inline-block;
}

.shaking-cards {
	animation: vertical-shaking 0.7s infinite;
}

@keyframes vertical-shaking {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	75% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}

div.order-edit-select {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	width: fit-content;
	display: flex;
	padding: 10px;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
}

#payment-pending-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 0.9rem;
	background: #f0f0f0;
	padding: 10px 15px 10px 12px;
	border-radius: 5px;
	order: 1px solid lightgray;
	text-transform: uppercase;
}

#payment-pending-wrapper label,
#payment-pending-wrapper input {
	cursor: pointer;
}

.order-edit-select .inputGroup {
	max-width: 250px;
	width: 25vw;
	z-index: 999999999;
}

svg.table-icon {
	font-size: 24px;
	color: black;
	cursor: pointer;
	display: block;
	margin: 10px auto;
	background: none;
}

.table-icon.checkmark {
	padding: 8px;
	background: none;
	border-radius: 50%;
	display: block;
	width: 36px;
	height: 36px;
	color: #4ac959;
	cursor: pointer;
	transition: all 0.5s ease;
}

.table-icon.checkmark:hover {
	background: #4ac95921;
	border: 1px solid #4ac95912;
	scale: 1.2;
}

.overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000000a8;
	z-index: 1000000000;
}

.prompt {
	width: 50vw;
	translate: calc(50vw - 50%) calc(50vh - 50%);
	background: white;
	padding: 20px;
	border-radius: 5px;
}

.prompt p {
	font-size: 1.1rem;
}

.prompt-actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.prompt-actions button {
	border: none;
	background: none;
	margin-top: 20px;
	padding: 8px 14px;
	border-radius: 5px;
	font-size: 0.8rem;
}

.prompt-actions button.cancel {
	border: 1px solid red;
	color: red;
}

.prompt-actions button.confirm {
	background: #44cd4a;
	color: white;
}

.layout-content {
	position: absolute;
	top: 50px;
	left: 100px;
	overflow: hidden;
	background: #fff;
	width: calc(100vw - 100px);
}

#counters-list {
	background: white;
	padding: 20px;
	border-radius: 20px;
	min-width: 400px;
	position: relative;
}
#counters-list > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

#counters-list .list {
	overflow: auto;
	height: 23vh;
}
#counters-list .list > div {
	display: flex;
	gap: 20px;
	width: 100%;
	padding: 5px 0;
	cursor: pointer;
}

#counters-list .list label {
	width: 100%;
	cursor: pointer;
}

#counters-list .list > div:first-child {
	font-weight: 700;
	font-size: 1.1rem;
}

#counters-list button {
	display: block;
	text-align: center;
	margin-top: 10px;
}

#counters-list input {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid;
}

#counters-list #close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 1.5rem;
	cursor: pointer;
}

#additional_numbers {
	width: 600px;
}

#additional_numbers > div:first-child {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 15px;
	align-items: center;
}

#additional_numbers > div:nth-child(2) {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

#additional_numbers input {
	width: 142px;
	padding: 10px;
}

#counters-list.users-list {
	margin-top: 10px;
	padding: 12px 10px;
	background: #ebebeb;
	border-radius: 10px;
	overflow: hidden;
}

.cancellation-reason {
	padding: 6px;
	border-radius: 6px;
	border: 1px solid grey;
	margin: 20px 0 0;
	width: 300px;
	height: 65px;
	resize: none;
}

#cancellation-reasons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
	overflow: auto;
	max-height: 60vh;
}

#cancellation-reasons-wrapper > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#cancellation-reasons-wrapper > div textarea {
	margin: 0;
}

#cancellation-reasons-wrapper > div label {
	font-size: 0.9rem;
}

.cancelled-order-row {
	background: #ff00000a;
	color: #d70000 !important;
}

.user-counter-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 15px;
	margin-right: 10px;
}

.user-counter-actions button {
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
}

.location-marker {
	color: #d70000;
}
.location-marker.green {
	color: #44cd4a;
}

.closeButton.icon {
	color: black;
	background: transparent;
	padding: 0;
	width: fit-content;
	height: fit-content;
	font-size: 1.75rem;
}

.location-confirmation-popup {
	max-width: 80vw;
	width: 400px;
	gap: 30px;
	text-align: center;
}

.location-confirmation-popup button.update {
	background: var(--main);
	border: none;
	width: 50%;
	margin: auto;
	padding: 10px;
	border-radius: 6px;
	color: whitesmoke;
	font-size: 0.9rem;
	font-weight: 550;
	font-family: sans-serif;
}
