#console {
    position: fixed;
    bottom: 0px;
    height: 380px;
    background: black;
    width: 100%;
    color: white;
    font-size: 15px;
    overflow: auto;
    border-bottom: 10px solid grey;
}

#console>* {
    border-bottom: 1px solid grey;
    padding: 5px;
}
.clear_Logout_button, .simple_Logout_button{
    border: none;
    color: #fff;
    background: #44cd4a;
    width: 200px;
    padding: 10px 0px;
    margin: 10px 20px;
    border-radius: 1.5rem;
    cursor: pointer;
    position: relative;
    letter-spacing: 1px;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 3px 4px 3px black;
    transition: all 0.3s ease-in-out;
  }
  .clear_Logout_button:hover, .simple_Logout_button:hover{
    transform: scale(1.05);
  }