#console {
	position: fixed;
	bottom: 0px;
	height: 380px;
	background: black;
	width: 100%;
	color: white;
	font-size: 15px;
	overflow: auto;
	border-bottom: 10px solid grey;
}

#console > * {
	border-bottom: 1px solid grey;
	padding: 5px;
}
.clear_Logout_button,
.simple_Logout_button {
	border: none;
	color: #fff;
	background: #44cd4a;
	width: 200px;
	padding: 10px 0px;
	margin: 10px 20px;
	border-radius: 1.5rem;
	cursor: pointer;
	position: relative;
	letter-spacing: 1px;
	font-weight: 500;
	white-space: nowrap;
	box-shadow: 3px 4px 3px black;
	transition: all 0.3s ease-in-out;
}
.clear_Logout_button:hover,
.simple_Logout_button:hover {
	transform: scale(1.05);
}

div#selection-area-switch > button {
	width: 50%;
	padding: 12px 0;
	border: none;
	background: #deffe1;
	position: relative;
}

div#selection-area-switch > button.selected {
	font-weight: 600;
	background: var(--mainColor);
	color: white;
}

#selection-info {
	display: flex;
	flex-direction: column;
	margin-right: calc(-16% - 50px);
	margin-left: 50px;
}

#selection-info div > span:first-child {
	width: 150px;
	display: inline-block;
}

.shaking-cards {
	animation: vertical-shaking 0.7s infinite;
}

@keyframes vertical-shaking {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	75% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}

div.order-edit-select {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	width: fit-content;
	display: flex;
	padding: 10px;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
}

#payment-pending-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 0.9rem;
	background: #f0f0f0;
	padding: 10px 15px 10px 12px;
	border-radius: 5px;
	order: 1px solid lightgray;
	text-transform: uppercase;
}

#payment-pending-wrapper label,
#payment-pending-wrapper input {
	cursor: pointer;
}

.order-edit-select .inputGroup {
	max-width: 250px;
	width: 25vw;
	z-index: 999999999;
}

.table-icon {
	font-size: 24px;
	color: black;
	cursor: pointer;
	display: block;
	margin: auto;
	background: none;
}

.table-icon.checkmark {
	margin: auto;
	background: none;
	color: #4ac959;
	cursor: auto;
}
