body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh; /* Fallback for browsers that do not support env() */
	height: env(safe-area-inset-top) + env(safe-area-inset-bottom);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
* {
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

:root {
	--main: #4ac959;
	--secondary: #deffe1;
	--secondary-light: #deffe1;
}
